<!DOCTYPE html>
<html lang='en'>
<head>
    <title>Burger handlebars exercise</title>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="/public/css/burger_style.css" type="text/css" />
	<script src="https://code.jquery.com/jquery.js"></script>
</head>
<body>
    {{{body}}}
</body>
</html>